@import 'src/styles/variables';

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 71px 0;

  &-title {
    font-family: $conv-bn-chester;
    font-weight: 400;
    font-size: 40px;
    line-height: 41px;
    letter-spacing: 0.005em;
    color: $black;

    & span {
      color: $light-orange;
    }

    @media(max-width: 395px) {
      font-size: 30px;
    }
  }

  &-desc {
    width: 570px;
    font-family: $gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: $black;
    margin-right: 120px;

    @media(max-width: 880px) {
      width: auto;
    }

    @media(max-width: 395px) {
      margin-right: 0;
    }
  }

  .upper {
    margin-bottom: 20px;
    @media(max-width: 630px) {
      margin-bottom: 20px;
    }
  }

  .lower {
    @media(max-width: 630px) {
      display: none;
      margin-bottom: 20px;
    }
  }

  .show-about {
    display: none;
    @media(max-width: 630px) {
      display: block;
      background: none;
      border: none;
      font-family: $gilroy;
      font-weight: 700;
      border-bottom: 1px solid $light-orange;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .show-all {
    display: block;
  }
}
