@import "fonts";
@import "variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  padding: 0 160px;

  @media(max-width: 1080px) {
    padding: 0 100px;
  }

  @media(max-width: 520px) {
    padding: 0 35px;
  }

  @media(max-width: 395px) {
    padding: 0 15px;
  }
}

.button {
  font-family: $gilroy;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  padding: 12px 34px;
  border: 2px solid #D3A265;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $white;
    background: $light-orange;
  }
}

.active {
  color: $light-orange;
}
