// FONTS
$conv-bn-chester: 'Conv_BN Chester Regular', sans-serif;
$gilroy: 'Gilroy', sans-serif;

// COLORS
$dark-brown: #352C2C;
$brown: #3D3737;
$light-orange: #D3A165;
$black: #161616;
$white: #fff;
$red: red;
$green: green;
$grey: #878787;
$light-grey: #B5B5B5;
