<div class="grid">
  <div class="home-wrap">
    <div class="home-wrap__text">
      <h1 class="home-title">We create your space better</h1>
      <div class="text">
        Our team creates comfortable spaces for our clients. We’ve been designing your everyday life and work through
        great ideas since 1999.
      </div>
      <app-button [text]="'Get started'"></app-button>
    </div>
    <img class="home-wrap__image" src="/assets/images/background-desktop.png" alt="background">
  </div>
</div>

<div class="grey-background">
  <div class="container">
    <app-about></app-about>
  </div>
</div>

<div class="container">
  <app-contact></app-contact>
</div>
