@import 'src/styles/variables';

.service-title {
  font-family: $conv-bn-chester;
  font-weight: 400;
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.005em;
  color: $black;
  margin-bottom: 84px;

  span {
    color: $light-orange;
  }

  @media(max-width: 395px) {
    width: 142px;
    font-size: 32px;
    margin: 0 auto 84px;
  }
}

.services-button {
  text-align: center;
  margin-bottom: 80px;
}
