@import 'src/styles/variables';

.content {
  text-align: center;

  & span {
    font-size: 7rem;
  }

  & p {
    font-family: $gilroy;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}
