@import 'src/styles/variables';

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    padding: 18px;
    background: $white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;

    &-title {
      font-family: $conv-bn-chester;
      margin-bottom: 20px;

      & span {
        color: $light-orange;
      }
    }

    .contact-form {
      width: 100%;
    }

    .form-field {
      margin-bottom: 20px;
    }

    .form-input {
      font-family: $gilroy;
      width: 100%;
      height: 40px;
      border: 2px solid $light-orange;
      padding-left: 10px;
      outline: none;
    }

    .form-area {
      resize: none;
      font-family: $gilroy;
      width: 100%;
      height: 70px;
      border: 2px solid $light-orange;
      padding-left: 10px;
      padding-top: 5px;
      outline: none;
    }

    .submit {
      display: block;
      margin: 0 auto;
    }

    .close-button {
      position: absolute;
      top: 0;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 40px;
    }

    .form-input.ng-touched.ng-invalid {
      border: 2px solid red;
    }

    .text-danger {
      font-family: $gilroy;
      color: $red;
    }

    .success-message {
      display: block;
      text-align: center;
      font-family: $gilroy;
      margin-bottom: 20px;
      color: $green;
    }
  }
}

.disable {
  color: gray;
  cursor: default;
}
